.sub_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.editor-plain-text.block-editor-plain-text.sub_link_edit, .editor-plain-text.block-editor-plain-text.sub_text_edit, .editor-plain-text.block-editor-plain-text.sub_pub_edit {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 2%;
}

.sub_edit {
  font-family: 'Unify Sans', sans-serif;
  text-align: center;
  width: 65%;
  margin: 30px auto;
  font-weight: 300;
}

.sub_button {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.sub_interact_block {
  font-weight: 400;
}

hr {
  border-color: rgba(0,0,0,1);
  width: 40%;
}
